@import "./base/typography";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&family=Shrikhand&display=swap");

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.body {
    margin: auto;
    max-width: 100%;
}


.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    height: 100%;
    width: 100%;
    opacity: 1;
    animation: fade;
    animation-duration: 0s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}


.spinner {
    border: 20px solid white;
    border-top: 20px solid #d370d6;
    border-bottom: 20px solid #9356dc;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    animation-name: spin;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        visibility: visible;
    }

    50% {
        transform: rotate(180deg);
        visibility: visible;
    }

    to {
        transform: rotate(360deg);
        visibility: hidden;

        height: 0;
        width: 0;

    }
}

@keyframes fade {
    from {
        opacity: 1;
        display: block;
    }

    to {
        opacity: 0;
        z-index: -100;
        display: none;
        height: 0;
        width: 0;
        display: none;
        clip-path: circle(0);
    }
}

@keyframes monanim {
    from {
        overflow: hidden;
    }

    to {
        overflow: visible;
    }
}


.body {
    animation: monanim;
    animation-duration: 3s;
    font-family: "Roboto";
    margin: auto;
}


.logo {
    height: 2rem;
    width: 12rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
}

.locationdot {
    padding-right: 1rem;
}

.location {
    background-color: lightgray;
    font-size: 0.9rem;
    font-weight: bold;
    border-top: 0.1rem solid gray;
    color: darkslategrey;
    width: 100%;
    margin: auto;
    padding: 15px 0px;
    display: flex;
    justify-content: center;

}

.info {
    background-color: whitesmoke;
    padding: 1rem;
    max-width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    gap: 2rem;
    margin: auto;
}

.infosmall {
    font-size: 1.2rem;
    color: gray;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 1rem;
}

.explorebutton {
    color: white;
    background: linear-gradient(#ff79da, #a579db);
    padding: 1rem;
    border-radius: 5rem;
    border-color: transparent;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 3rem;
    margin-left: 3rem;

    &:hover {
        background: linear-gradient(#fca5e3, #a678df);
        border-color: gray;

    }
}

.works {
    margin: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    width: 90%;
    margin: auto;
    padding-bottom: 25px;

}

.numbers {
    color: white;
    background-color: #9356dc;
    border-radius: 50rem;
    width: 1rem;
    position: relative;
    left: -25px;
    top: 3rem;
    margin-left: 0.5rem;
    padding: 0.2rem;
    padding-left: 0.5rem;

}

.icon {
    padding-right: 1.5rem;

    &:hover {
        color: #9356dc;
    }
}

.chosebuttons {
    border-radius: 1rem;
    background-color: whitesmoke;
    border: none;
    padding: 1.5rem;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

    &:hover {
        background-color: #f5ecff;


    }

    &:hover i {
        color: #9356dc;
    }


}

.restaurantsection {
    background-color: whitesmoke;
    font-size: 0.8rem;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-top: 35px;
   


}
.restaurants h1 {
    padding-bottom: 20px;
}
.cardimage {
    position: relative;
}

.restaurantcards {
    background-color: white;
    border-radius: 2rem;
    padding-bottom: 1rem;
    width: 90%;
    height: 13rem;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

    &:hover {
        background-color: whitesmoke;
    }

}

.new {
    background-color: #99e2d0;
    color: rgb(3, 136, 107);
    position: absolute;
    border-radius: 0.1rem;
    font-weight: bold;
    font-size: 0.9rem;
    top: 15px;
    right: 15px;
    padding: 15px 25px;


}

.restaurantcards img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 2rem 2rem 0rem 0rem;
}

.cardbody {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cardstext {

    width: 80%;
    font-size: 0.7rem;
    font-family: "Roboto";
    padding-left: 3px;


    a,
    a:hover,
    a:active,
    a:visited {
        color: black;
        text-decoration: none;
    }

}

.likecontainer {
    width: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover .likefill {
        height: 2rem;
        background: linear-gradient(#9356dc, #ff79da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

    }


}

.like {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.likefill {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
}


.homefooternav {
    background-color: rgba(32, 31, 31, 0.842);
    padding-bottom: 1rem;
    max-width: 100%;
    padding-left: 1rem;

}

.footernav {
    background-color: rgba(32, 31, 31, 0.842);
    padding-bottom: 1rem;
    padding-top: 1rem;
    max-width: 100%;
    padding-left: 1rem;



}

.footernav2 {
    background-color: rgba(32, 31, 31, 0.842);
    padding-bottom: 1rem;
    padding-top: 1rem;
    max-width: 100%;
    padding-left: 1rem;



}

.footerlogo {
    color: white;
    height: 1.2rem;
    width: 6rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);

}



.navlink {
    list-style: none;
    text-decoration: none;
    padding: 0.3rem;
    color: white;

    a,
    a:hover,
    a:active,
    a:visited {
        color: white;
        text-decoration: none;
    }
}

.back {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1rem;
}

.backbutton {
    margin-left: 1rem;
    margin-top: 1rem;
}

.restaurantimage {
    height: 20rem;
    width: 100%;
    margin-bottom: 0rem;
    display: flex;
    justify-content: center;
}

.menupage {
    border-radius: 3rem 3rem 0rem 0rem;
    background-color: whitesmoke;
    padding-top: 1rem;
    margin-top: -30px;
    width: 95%;
    font-size: 0.9rem;
    position: relative;
    z-index: 2;
    padding-left: 5%;

}

.title {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-family: "Shrikhand";
& heart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 35px;
}
}




.category {
    border-bottom: 0.2rem solid #99e2d0;
    width: 3rem;
    margin-bottom: 1rem;
    margin-top: 3rem;



}


@keyframes slidein {
    0% {
        background: transparent;
    }

    10% {
        background-image: linear-gradient(to left,
                #99e2d0 1%,
                transparent 10%);
    }

    25% {
        background-image: linear-gradient(to left,
                #99e2d0 10%,
                transparent 20%);
    }

    50% {
        background-image: linear-gradient(to left,
                #99e2d0 12%,
                transparent 20%);
    }

    75% {
        background-image: linear-gradient(to left,
                #99e2d0 17%,
                transparent 20%);
    }

    100% {
        background-image: linear-gradient(to left,
                #99e2d0 20%,
                transparent 20%);
    }
}





@keyframes appear {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menuoption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    width: 90%;
    height: 4rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    margin-left: 0rem;
    margin-bottom: 1rem;
    overflow: hidden;

    &:hover .menutext {
        width: 50%;
        
    }

    &:hover .select {

        transform: translateX(0%);
        background-color: #99e2d0;
        width: 30%;
        height: 100%;
        border-radius: 0rem 1rem 1rem 0rem;
        z-index: 1;
        opacity: 1;

        & i {
            color: white;
            animation: rotate 1s forwards;
        }
    }

    @keyframes rotate{
        from { 
            transform:rotate(-360deg);
        }
        to {
            transform: rotate(0deg);
        }

    }

    &:hover .price {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}



.menutext {
    font-size: 0.9rem;
    width: 80%;
    margin-top: 2.5%;
    padding-left: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0.6s ease-in-out;

    & p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.price {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 10%;
    padding-right: 15px;

    & h4 {
        position: absolute;
        bottom: 15px;

    }

}

.select {
    color: white;
    background-color: #99e2d0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0%;
    transform: translateX(100%);
    transition: 0.6s ease-in-out;

    & i {
        transform: translateX(100%);
    }

}








.order {
    color: white;
    background: linear-gradient(#ff79da, #9356dc);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5rem;
    border-color: transparent;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
    width: 12rem;

    a,
    a:hover,
    a:active,
    a:visited {
        color: white;
        text-decoration: none;
    }

    &:hover {
        color: white;
        background: linear-gradient(#fca5e3, #a678df);
        border-color: gray;

    }

}


@media screen and (min-width:767px) {

    .spinner {
        display: flex;
        justify-content: center;
    }

    .backbutton {
        margin: 2rem;
    }

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 50%;
        height: 50%;
        padding-left: 10rem;

    }

    .location {
        display: flex;
        justify-content: center;
        border-bottom: 0.1rem solid gray;
    }

    .info {
        width: 40%;
        padding-left: 1rem;
        font-size: 1rem;
        float: right;
        height: 22rem;
        display: flex;
        justify-content: center;

    }

    .explorebutton {
        width: 50%;
        float: right;
    }

    .buttons {
        float: left;
        background: white;
        width: 50%;
        margin-left: 1rem;
    }

    .chosebuttons {
        width: 50%;
        font-size: 1rem;

    }

    .restaurantsection {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding-left: 0;
    }


    .restaurants {
        margin-right: 100rem;
    
    }

    .restaurantcards {
        width: 23%;
    }

    .restaurantcards img {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .new {
        margin-left: 5rem;
    }





    .footerlogo {
        height: 4rem;
        width: 9rem;

    }

    .navlink {
        padding: 0.5rem;
    }

    .restaurantimage {
        object-fit: cover;
        max-width: 100%;
    }

    .menupage {
        position: relative;
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        top: -40px;
    }

    .category {
        width: 90%;
    }

    .order {
        margin: 3rem;

    }

   


    @media screen and (min-width:900px) {
        .spinner {
            display: flex;
            justify-content: center;
        }



        .info {
            padding-left: 4rem;
            width: 35%;
        }

        .chosebuttons {
            width: 60%;
        }

        .restaurantsection {
            max-width: 97%;
        }


        .new {
            margin-left: 6rem;
        }



       
        .menuoption {
            height: 100px;
        }

    

    }
}