* { 

    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif, 'Shrikhand';
    margin: 0;
}

@media screen and (min-width:300px) {
   
    .spinner {
        position: fixed;
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        margin: 1rem;
        
    }
    
    .spinner:before,
    .spinner:after {
        content: "";
        position:absolute;
        border-radius: 50%;
        
 
   
    }
    
    .spinner:before {
        width:100%;
        height: 100%;
        background-image: linear-gradient(0deg, #ff79da 0%, #9356dc  100%);
        animation: spin 1s infinite linear;
        animation-duration: 3s;
        opacity: 1;        
    }
    
    .spinner:after {
        width: 80%;
        height: 80%;
        background-color:white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
   
    }
    .spinner:hover {
        opacity: 0;
    }
    @keyframes spin {
     
          from { transform: rotate(360deg) ;
        
        }
      to{ transform: rotate(0deg);}
     
    }
    
      
  
.logo {
    height: 2rem;
    width: 12rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
}
.locationdot {
   padding-right: 1rem;
}
.location {
    background-color: lightgray;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    border-top: 0.1rem solid gray;
    color: darkslategrey;
    padding-left: 5rem;
    
}

.info {
    background-color: whitesmoke;
    margin-top: 0rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9rem;
    gap: 2rem;
}
.infosmall {
    font-size: 1.2rem;
    color: gray;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 1rem;
}

.explorebutton {
    color: white;
    background: linear-gradient(#ff79da, #a579db);
    padding: 1rem;
    border-radius: 5rem;
    border-color: transparent;
    font-size:1rem;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 5rem;
    margin-left: 2rem;
    &:hover {
        background-color: linear-gradient(#fde0f4, #e4d3f8);
        border-color: gray;
       
    }
}

.buttons {
    display:flex;
    flex-direction: column;
    gap: 0.1rem;
    margin-left: 0rem;
    margin-bottom: 3rem;
    
}

.numbers {
    color: white;
    background-color: #9356dc;
    border-radius: 50rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    width: 1rem;
    position: relative; top:3rem;
    margin-left: 0.5rem;

}
.icon {
    padding-right: 1.5rem;
    &:hover {
        color: #9356dc;
    }
}
.chosebuttons {
    border-radius: 1rem;
    background-color: whitesmoke;
    border-color: white;
    padding: 1.5rem;
    margin-left: 1rem;
    width: 19rem;
    font-weight: bold;
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
    &:hover {
        background-color: #f5ecff;
        border-color: #f5ecff;
    
      
    }
    &:hover i {
        color: #9356dc;
    }

  
}

.restaurantsection {
    background-color: whitesmoke;
    width: 25rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
    font-size: 0.8rem ;
 
    
}
.restaurantcards {
    background-color: white;
    border-radius: 2rem;
    padding-bottom: 1rem;
    width: 21rem;
    height: 13rem;
    margin-bottom: 1rem;
    &:hover {
        background-color: whitesmoke;
        border: gray solid 0.1px;
           }
    
    }

.new {
    width: 6rem;
    height: 1.8rem;
    background-color: #99e2d0;
    color: rgb(3, 136, 107);
    padding-left: 2rem;
    position: absolute;
    margin-left: 12rem;
    margin-top: 1rem;
    border-radius: 0.1rem;
    font-weight: bold;
    padding-top: 0.5rem;
    font-size: 0.7rem;

    
}

.restaurantcards img {
    width: 21rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 2rem 2rem 0rem 0rem;
}

.cardstext {
   
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    font-size: 0.8rem;
    margin-left: 1rem;
    a, a:hover, a:active, a:visited { color: black; text-decoration: none; }
  
    }
}

.likecontainer{
    height: 1rem;
    width: 1rem;
    margin-left: 16rem;
    margin-top: 1.5rem;
    opacity: 1;
    position: absolute;
    cursor: pointer;
    transform: scale (1);
    transition-property: transform;
    transition-duration: 400ms;
    &:hover
     {
        transform: scale(1);
        opacity: 1; 
        background-color: transparent;
        
}
}

.like {
    background: transparent;
   
 
    }
@keyframes fill {
    0% {color: #ff79da};
    50% {color:#d370d6};
    100% {color:#9356dc}; }

.likefill {
    opacity: 0;
    width: 1rem;
    height: 1rem;
    &:hover {
        animation: fill 4s;
        transition: 600ms linear;
        opacity: 1;
        background: transparent;
        position: relative; bottom: 1rem;
}
}

.homefooternav {
    background-color: rgba(32, 31, 31, 0.842);
    padding-bottom: 1rem;
  
}
.footernav {
    background-color: rgba(32, 31, 31, 0.842);
    padding-bottom: 1rem;
    margin-top: 73rem;
    padding-top: 1rem;
  
   

}
.footernav2 {
    background-color: rgba(32, 31, 31, 0.842);
    padding-bottom: 1rem;
    margin-top: 84rem;
    padding-top: 1rem;
  
   

}

.footerlogo {
    color: white;
    height: 1.5rem;
    width: 6rem;
    margin-top: 1rem;
    margin-left: 3rem;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);

}



.navlink {
    list-style:none;
    text-decoration: none;
    padding: 0.3rem;
    color: white;
    a, a:hover, a:active, a:visited { 
        color: white; 
    text-decoration: none;}
}

.backbutton {
    margin-left: 2rem;
    margin-top: 2rem;
}
.restaurantimage{
    height: 20rem;
    width: 100%;
    margin-bottom: 0rem;
}

.menupage {
    border-radius: 3rem 3rem 0rem 0rem;
    background-color: whitesmoke;
    padding-left: 1rem;
    padding-top: 1rem;
    position: absolute; top: 20rem;
    width: 100%;
    padding-bottom: 1rem;
    font-size: 0.9rem;
   

    
}  
.title {
    font-family: 'Shrikhand';

}
    
.heart {
    float: right;
    padding-right: 1rem;
    &:hover {
        animation: fill 4s; 
    }

}


.category {
    border-bottom: 0.2rem solid #99e2d0;
    width: 3rem;
    margin-bottom: 1rem;
    margin-top: 3rem;



}
@keyframes slidetop{
    0% { transform: translateY(-100%);}
    100% {transform: translateY(0);}
}

@keyframes slidein{
         0% {background: transparent;}
    10% { background-image: linear-gradient(to left,
        #99e2d0 1%,
        transparent 10%);}
        25% { background-image: linear-gradient(to left,
            #99e2d0 10%,
            transparent 20%);}
            50% { background-image: linear-gradient(to left,
                #99e2d0 12%,
                transparent 20%);}
                75% { background-image: linear-gradient(to left,
                    #99e2d0 17%,
                    transparent 20%);}
        100% { background-image: linear-gradient(to left,
            #99e2d0 20%,
            transparent 20%);}
}

@keyframes slideside{
    
    
    0% { transform: translateX(0%);
       transform: rotate(360deg);}
    100% {transform: translateX(-100%);
        transform: rotate(0deg);}
}
.menuoption {
    animation: 2s ease-in 0s 1 slidetop;
    border-radius: 1rem;
    background-color: white;
    border-color: white;
    width: 22rem;
    height: 5rem;
    margin-left: 0rem;
    margin-bottom: 1rem; 
    padding-top: 1rem;
    &:hover {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
       animation: 0.6s ease-in  slidein;
       -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
       
        
    }
}
.menuoption2 {
    animation: 2s ease-in 0s 1 slidetop;
    border-radius: 1rem;
    background-color: white;
    border-color: white;
    width: 22rem;
    height: 5rem;
    margin-left: 0rem;
    margin-bottom: 1rem; 
    padding-top: 1rem;
    &:hover {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
       animation: 0.6s ease-in  slidein;
       -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
       
        
    }
 
 }
 .menuoption3 {
    animation: 2s ease-in 0s 1 slidetop;
    border-radius: 1rem;
    background-color: white;
    border-color: white;
    width: 22rem;
    height: 5rem;
    margin-left: 0rem;
    margin-bottom: 1rem; 
    padding-top: 1rem;
    &:hover {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
       animation: 0.6s ease-in  slidein;
       -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
       
        
    }
        
     }    
.menutext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.9rem;
}

.price {
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;

}

.select {
    color: white;
    float: right;
    position:relative; 
    background-color: #99e2d0;
    opacity: 1;
    &:hover {
        opacity: 1;
        -webkit-animation: 1s linear 0s slideside ;
        animation: 1s linear 0s slideside ;
       
        }
      
        }
    

    


.order {
    background: linear-gradient(#ff79da, #9356dc);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5rem;
    border-color: transparent;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
    width: 12rem;
    a, a:hover, a:active, a:visited { color: white; text-decoration: none; }
    
}


@media screen and (min-width:767px) {


    .backbutton {
        margin: 2rem;
    }
    .logo {
        display: flex;
     flex-direction: row;
     justify-content: center;
     width: 50%;
     height: 50%;
     padding-left: 10rem;
       
    }
    .location {
        width: 100%;
        padding-left: 25rem;
        float: left;
        border-bottom: 0.1rem solid gray;
    }
    .info {
        width: 50%;
        padding-left: 1rem;
        font-size: 1rem;
        float: right;
        height: 22rem;
        
    }
    .explorebutton {
       width: 50%;
       float: right;
    }
    .buttons { 
        float: left;
        background: whitesmoke;
        width: 50%;
    }
    .chosebuttons {
        width: 80%;
        font-size: 1rem;
    }
    .restaurantsection {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding-left:2rem;
    }
   .restaurants {
    margin-right: 100rem;
   }
   .restaurantcards {
    width: 23%;
   }
   .restaurantcards img {
    width: 100%;
   }
   .homefooternav {
    display: flex;
    flex-direction: row;

    
   }
   .footerlogo {
    height: 4rem;
    width: 9rem;
    
   }
   .navlink {
    padding: 0.5rem;    
   }
   .restaurantimage {
    object-fit: cover;
   }
   .menupage {
    position: absolute; top: 30rem;
   }
   .order {
   margin: 3rem;

   }
   .footernav {
    margin-top: 62rem;
    display: flex;
   
   }
   .footernav2 {
    margin-top: 62rem;
    display: flex;
   
   }
 
}

@media screen and (min-width:900px) {
    .spinner {
       margin-left: 30rem;
    }
  
    .info {
        padding-left: 7rem;
    }


    .footernav {
        margin-top: 47rem;

    }
    .footernav2 {
        margin-top: 59rem;

    }
}
