@media screen and (max-width:767px) {
.body {
    margin: 0rem;
}   
.logo {
    height: 2rem;
    width: 12rem;
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.location {
    background-color: lightgray;
    padding: 0.5rem;
    padding-left: 6rem;
    font-size: larger;
    border-top: 0.1rem solid gray;
    
}

.info {
    background-color: whitesmoke;
    margin-top: 0rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    width: 85%;
}

.explorebutton {
    background: linear-gradient(#ff79da, #9356dc);
    padding: 1rem;
    border-radius: 5rem;
    border-color: transparent;
    font-size:larger;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.buttons {
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.numbers {
    color: white;
    background-color: #9356dc;
    border-radius: 50rem;
    padding: 0.5rem;
    width: 1rem;

}
.chosebuttons {
    border-radius: 1rem;
    background-color: whitesmoke;
    border-color: whitesmoke;
    padding: 1rem;
    margin-left: 1rem;
    width: 17rem;
}

.restaurantsection {
    background-color: whitesmoke;
    width: 25rem;
    padding-bottom: 2rem;
}
.restaurantcards {
    background-color: white;
    border-radius: 2rem;
    padding-bottom: 1rem;
    width: 18rem;
    margin: 1rem;
    height: 16rem;


}

.restaurantcards img {
    width: 18rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 2rem 2rem 0rem 0rem;
}

.cardstext {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
    font-size: 0.8rem;
    margin-left: 1rem;
}

.likecontainer{
    height: 1rem;
    width: 1rem;
    margin-left: 15rem;
    opacity: 1;
    position: absolute;
    cursor: pointer;
    transform: scale (1);
    transition-property: transform;
    transition-duration: 400ms;
    &:active {
        transform: scale(1);
        opacity: 1;
        color: #9356dc; 
        background-color: #ff79da;
        transition: opacity 2s;
    }
}

.like {
    
}

.footernav {
    background-color: grey;

}

.footerlogo {
    height: 1.5rem;
    width: 8rem;
    margin-top: 1rem;
    margin-left: 3rem;
}


.navlink {
    list-style:none;
    text-decoration: none;
    padding: 0.5rem;
}

.restaurantimage{
    height: 20rem;
    width: 25rem;
    margin-bottom: 0rem;
}

.menupage {
    border-radius: 1rem;
    background-color: whitesmoke;
    padding-left: 1rem;
    padding-top: 1rem;
    
}

.category {
    border-bottom: 0.2rem solid #99e2d0;
    width: 3rem;
    margin-bottom: 2rem;

}

.menuoption {
    border-radius: 1rem;
    background-color: white;
    border-color: white;
    width: 18rem;
    margin-left: 0rem;
    margin-bottom: 1rem; 
}

.menutext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.price {
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;

}

.select {
    display: none;
}
.select:active {
    background-color: #99e2d0;
    color: white;
    float: right;
}

.order {
    background: linear-gradient(#ff79da, #9356dc);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5rem;
    border-color: transparent;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
    text-decoration: none;
    width: 12rem;
}




}