$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99e2d0;

$colours:(
    pink:#ff79da,
    purple:#9356dc,
    green: #99e2d0,
);

$colour-gradient: linear-gradient(#9356dc, #ff79da);